@model Product

@{
    ViewBag.Title = "Добавить товар";
    Layout = "_Layout";
}

<h2 class="text-center">@ViewBag.Title</h2>
@if (ViewBag.ErrorExist != null)
{
    <h4 class="text-danger text-center">@ViewBag.ErrorExist</h4>
}
<div class="row justify-content-center">

    <div class="phone_add_form col-md-6">
        <form asp-controller="Products" asp-action="Add" method="post" enctype="multipart/form-data">

            @await Html.PartialAsync("PartialView/ProductPartialForm", new Product())
            
            <div class="text-center">
                <button type="submit" class="btn btn-outline-info mt-3">Создать</button>
            </div>
        </form>

        @section Scripts

        {

            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");

            }

        }

    </div>
</div>