<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/CarSale.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" href="~/GTL.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/GTL.png" type="image/x-icon">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Products" asp-action="Index">Global Trade Logistics</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarSupportedContent">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav flex-grow-1">
                        @* <li class="nav-item"> *@
                        @*     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
                        @* </li> *@
                        @* <li class="nav-item"> *@
                        @*     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
                        @* </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Легковые Авто</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="SpecialEquipment">Спец Техника</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Сategories" asp-action="Index">Категорий</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Brands" asp-action="Index">Брэнды</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ModelAutos" asp-action="Index">Модель</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ColorAutos" asp-action="Index">Цвет</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TypeAutos" asp-action="Index">Тип кузова</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TypeMotors" asp-action="Index">Тип двигателя</a>
                        </li>
                        @* <li class="nav-item"> *@
                        @*     <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="SortProduct">Сортировка товаров</a> *@
                        @* </li> *@
                        <li class="nav-item me-5 my-auto">
                            <form method="post" asp-action="Logout" asp-controller="Account">
                                <button class="btn btn-outline-secondary btn-sm mt-2 navbar-btn" type="submit">
                                    <i class="fas fa-sign-out-alt"></i> Выход
                                    <span class="badge badge-primary"></span>
                                </button>
                            </form>
                        </li>
                    </ul>
                }
                @if (!User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav flex-grow-1">
                        @* <li class="nav-item"> *@
                        @*     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
                        @* </li> *@
                        @* <li class="nav-item"> *@
                        @*     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
                        @* </li> *@
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary btn-sm me-1 mt-2 navbar-btn" asp-area="" asp-controller="Products" asp-action="Index">
                                <i class="fas fa-car"></i> <!-- Используем иконку легкового автомобиля -->
                                Легковые Авто
                            </a>
                            <span class="badge badge-primary"></span>
                        </li>

                        <li class="nav-item">
                            <a class="btn btn-outline-secondary btn-sm me-1 mt-2 navbar-btn" asp-area="" asp-controller="Products" asp-action="SpecialEquipment">
                                <i class="fas fa-truck"></i> <!-- Используем иконку грузового авто -->
                                Спец техника
                            </a>
                        </li>

                        <li class="nav-item my-auto">
                            <a class="nav-link text-dark navbar-btn" asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
</header>
<div class="">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2013 - Global Trade Logistics
        @* <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>